<h1>Editing Book</h1>
 <%= form_with model: @book_list, local:true do |f| %>
      <h6>Title</h6>
      <%= f.text_field :title %>
      <h6>Opinion</h6>
       <%= f.text_area :body %>
       <%= f.submit 'Update Book' %>
      <% end %>